*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    }
    
    .text-primary{
        color: #FD6E0A;
    }
    
    .btn-primary{
        background: #FD6E0A;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        color: #FFFFFF;
        border: none;
        /* width: 150px; */
        /* height: 64px; */
        padding: 10px 20px;
    }
    /* header section start */
    .header{
        background: #FFF8F3;
        background-image: url(../images/header_bg.png),url(../images/developer.png);
        background-repeat: no-repeat;
        background-position: right bottom, left;
        padding-top: 10px;


    }
    .nav-title{
        font-size: 45px;
        font-weight: 600;
    }
    nav{
        display:flex;
        justify-content: space-between;
        margin: 0px  150px 50px;
    }
    
    nav li{
        list-style-type: none;
        display:inline-block;
        padding: 10px 10px;
       
    }
    nav a{
        text-decoration: none;
        color: black;
        font-size: 19px;
        font-weight: 600;
    }
    nav button{
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    
    }
    /* banner section start */
    .banner{
        display: flex;
        align-items: center;
        margin: 50px 150px;
        
    }
    .banner-sub-title{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        color: #474747;
    }
    .banner-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 59px;
    color: #181818;
    }
    .banner-pragraph{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    padding-bottom: 10px;
    }
    .btn-secondre{
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #FD6E0A;
    padding: 9px 20px;
    margin-left: 10px;
    }
/* main section  start*/
.main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-section{
    margin-top: 130px;
    text-align: center;
    background: antiquewhite;
    border-radius: 10px;
    padding:100px 150px;
}
.about-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}
.about-pragraph{

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #181818;
    padding: 10px 0px;
}
.about-info-container{
    display:flex;
   justify-content: space-around;
   padding-top: 30px;
}
.about-info{

}
.about-info-title{
    font-size: 15px;
    color: #757575;
}
.about-info-caption{
    color: #474747;
    font-size: 19px;
    font-weight: 500;
}
/* what i do  section */
.do-it-sec{
    margin-top: 130px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 10px;
    padding:100px 150px;
}
.do-sec-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}
.do-sec-pragraph{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #181818;
    padding: 10px 0px;
}
.do-info-container{
    display:flex;
    justify-content: space-around;
    padding-top: 30px;
}
.do-info{
    padding: 34px 10px;
    text-align: left;
    line-height: 26px;
    background: white;
    margin-right: 10px;
    -webkit-box-shadow: -1px 10px 55px -11px rgba(0,0,0,0.35);
    -moz-box-shadow: -1px 10px 55px -11px rgba(0,0,0,0.35);
    box-shadow: -1px 10px 55px -11px rgba(0,0,0,0.35);
}
.do-img{

}
.do-info-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    padding: 19px 0px;
}
.do-info-caption{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}


